@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");
@import "tailwindcss";

@theme {
  --color-ftBackground: #f5f5f5;
  --default-font-family: "Kumbh Sans", sans-serif;
}

:root {
  @apply bg-ftBackground;
}
