@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");
@import "tailwindcss";

@theme {
  --color-ftBackground: #ffffff;
  --color-grayBackground: #fafafa;
  --color-primaryColor: #c8ee44;
  --color-text1Color: #1b212d;
  --color-text2Color: #929eae;
  --color-text3Color: #78778b;
  --default-font-family: "Kumbh Sans", sans-serif;
}

:root {
  @apply bg-ftBackground text-text1Color;
}
